---
bodyClass: bg-gray-postmark-lighter
---

{% block template %}
<table class="email-wrapper w-full bg-gray-postmark-lighter all-font-sans">
  <tr>
    <td align="center">
      <table class="email-content w-full">
        {% include "src/partials/header.njk" %}

        <tr>
          <td class="email-body w-full">
            <table align="center" class="email-body_inner w-570 bg-white mx-auto sm-w-full">
              <tr>
                <td class="p-45">
                  <div class="text-base">
                    <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">Hi {% raw %}{{name}}{% endraw %},</h1>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">You recently requested to reset your password for your {{ page.company.product }} account. Use the button below to reset it. <strong>This password reset is only valid for the next 24 hours.</strong></p>
                    <table align="center" class="w-full text-center my-30 mx-auto">
                      <tr>
                        <td align="center">
                          <table class="w-full">
                            <tr>
                              <td align="center" class="text-base">
                                <a href="{% raw %}{{action_url}}{% endraw %}" class="button button--green" target="_blank">Reset your password</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      For security, this request was received from a {% raw %}{{operating_system}}{% endraw %} device using {% raw %}{{browser_name}}{% endraw %}.
                      If you did not request a password reset, please ignore this email or <a href="{% raw %}{{support_url}}{% endraw %}" class="text-blue-postmark">contact support</a> if you have questions.
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Thanks,
                      <br>The {{ page.company.product }} Team
                    </p>
                    <table class="body-sub">
                      <tr>
                        <td>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">{% raw %}{{action_url}}{% endraw %}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        {% include "src/partials/footer.njk" %}
      </table>
    </td>
  </tr>
</table>
{% endblock %}

