---
bodyClass: bg-gray-postmark-lighter
---

{% extends "src/layouts/default.njk" %}

{% block template %}
<table class="email-wrapper w-full bg-gray-postmark-lighter font-sans">
  <tr>
    <td align="center">
      <table class="email-content w-full">
        {% include "src/partials/header.njk" %}

        <tr>
          <td class="email-body w-full">
            <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
              <tr>
                <td class="p-45">
                  <div class="text-base">
                    <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">Welcome, {% raw %}{{ name }}{% endraw %}!</h1>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Thanks for trying {{ page.company.product }}. We're thrilled to have you on board. To get the most out of {{ page.company.product }}, do this primary next step:
                    </p>
                    <table align="center" class="w-full text-center my-30 mx-auto">
                      <tr>
                        <td align="center">
                          <table class="w-full">
                            <tr>
                              <td align="center" class="text-base">
                                <a href="{% raw %}{{action_url}}{% endraw %}" class="button button--blue" target="_blank">Do this Next</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      For reference, here's your login information:
                    </p>
                    <table class="w-full mb-21">
                      <tr>
                        <td class="attributes_content bg-gray-postmark-lightest p-16">
                          <table class="w-full">
                            <tr>
                              <td class="text-base">
                                <strong class="text-gray-postmark-dark">Login Page:</strong> {% raw %}{{login_url}}{% endraw %}
                              </td>
                            </tr>
                            <tr>
                              <td class="text-base">
                                <strong class="text-gray-postmark-dark">Username:</strong> {% raw %}{{username}}{% endraw %}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      You've started a {% raw %}{{trial_length}}{% endraw %} day trial. You can upgrade to a paying account or cancel any time.
                    </p>
                    <table class="w-full mb-21">
                        <tr>
                          <td class="attributes_content bg-gray-postmark-lightest p-16">
                            <table class="w-full">
                              <tr>
                                <td class="text-base">
                                  <strong class="text-gray-postmark-dark">Trial Start Date:</strong> {% raw %}{{trial_start_date}}{% endraw %}
                                </td>
                              </tr>
                              <tr>
                                <td class="text-base">
                                  <strong class="text-gray-postmark-dark">Trial End Date:</strong> {% raw %}{{trial_end_date}}{% endraw %}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      If you have any questions, feel free to <a href="mailto:{% raw %}{{support_email}}{% endraw %}" class="text-blue-postmark">email our customer success team</a>.
                      (We're lightning quick at replying.) We also offer <a href="{% raw %}{{live_chat_url}}{% endraw %}" class="text-blue-postmark">live chat</a> during business hours.
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Thanks,
                      <br>{{ page.company.sender }} and the {{ page.company.product }} Team
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      <strong>P.S.</strong> Need immediate help getting started? Check out our <a href="{% raw %}{{help_url}}{% endraw %}" class="text-blue-postmark">help documentation</a>.
                      Or, just reply to this email, the {{ page.company.product }} support team is always ready to help!
                    </p>
                    <table class="body-sub">
                      <tr>
                        <td>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">{% raw %}{{action_url}}{% endraw %}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        {% include "src/partials/footer.njk" %}
      </table>
    </td>
  </tr>
</table>
{% endblock %}

