@import "buttons";

.purchase_heading {
  border-bottom-width: 1px;
  border-bottom-color: #EAEAEC;
  border-bottom-style: solid;
}

.purchase_heading p {
  @apply text-xxs leading-24 m-0;
  color: #85878E;
}

.purchase_footer {
  @apply pt-16 text-base align-middle;
  border-top-width: 1px;
  border-top-color: #EAEAEC;
  border-top-style: solid;
}

.body-sub {
  @apply mt-25 pt-25 border-t;
  border-top-color: #EAEAEC;
  border-top-style: solid;
}

.discount {
  @apply w-full p-24 bg-gray-postmark-lightest;
  border: 2px dashed #cbcccf;
}

@screen dark {
  body,
  .email-body,
  .email-body_inner,
  .email-content,
  .email-wrapper,
  .email-masthead,
  .email-footer {
    @apply bg-gray-postmark-darker text-white !important;
  }

  p,
  ul,
  ol,
  blockquote,
  h1,
  h2,
  h3 {
    @apply text-white !important;
  }

  .attributes_content,
  .discount {
    @apply bg-gray-postmark-darkest !important;
  }

  .email-masthead_name {
    text-shadow: none !important;
  }
}
