---
preheader: "This is an invoice for your purchase on {{ purchase_date }}. Please submit payment by {{ due_date }}"
---

{% block template %}
<table class="email-wrapper w-full all:font-sans">
  <tr>
    <td align="center">
      <table class="email-content w-full">
        {% include "src/partials/header.njk" %}

        <tr>
          <td class="email-body w-full bg-white">
            <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
              <tr>
                <td class="p-45">
                  <div class="text-base">
                    <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">Hi {% raw %}{{name}}{% endraw %},</h1>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">Thanks for using {{ page.company.product }}. This is an invoice for your recent purchase.</p>
                    <table class="w-full mb-21">
                      <tr>
                        <td class="attributes_content p-16 text-base bg-gray-postmark-lightest">
                          <table class="w-full">
                            <tr>
                              <td class="text-base text-gray-postmark-dark">
                                <strong>Amount Due:</strong> {% raw %}{{total}}{% endraw %}
                              </td>
                            </tr>
                            <tr>
                              <td class="text-base text-gray-postmark-dark">
                                <strong>Due By:</strong> {% raw %}{{due_date}}{% endraw %}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table align="center" class="w-full text-center my-30 mx-auto">
                      <tr>
                        <td align="center">
                          <table class="w-full">
                            <tr>
                              <td align="center" class="text-base">
                                <a href="{% raw %}{{action_url}}{% endraw %}" class="button button--green" target="_blank">Pay Invoice</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table class="purchase w-full py-35">
                      <tr>
                        <td>
                          <h3 class="mt-0 text-sm text-left text-gray-postmark-darker font-bold">{% raw %}{{invoice_id}}{% endraw %}</h3>
                        </td>
                        <td>
                          <h3 class="mt-0 text-sm text-right text-gray-postmark-darker font-bold">{% raw %}{{date}}{% endraw %}</h3>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <table class="w-full pt-25">
                            <tr>
                              <th align="left" class="purchase_heading pb-8">
                                <p>Description</p>
                              </th>
                              <th align="right" class="purchase_heading pb-8">
                                <p>Amount</p>
                              </th>
                            </tr>
                            {% raw %}{{#each invoice_details}}{% endraw %}
                            <tr>
                              <td class="w-4-5 text-base leading-18 py-10 text-gray-postmark-dark">
                                {% raw %}{{description}}{% endraw %}
                              </td>
                              <td align="right" class="w-1-5 text-base text-right">
                                {% raw %}{{amount}}{% endraw %}
                              </td>
                            </tr>
                            {% raw %}{{/each}}{% endraw %}
                            <tr>
                              <td class="purchase_footer w-4-5">
                                <p align="right" class="m-0 pr-16 text-base leading-24 text-right font-bold text-gray-postmark-darker">Total</p>
                              </td>
                              <td class="purchase_footer w-1-5">
                                <p align="right" class="m-0 text-base leading-24 text-right font-bold text-gray-postmark-darker">{% raw %}{{total}}{% endraw %}</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      If you have any questions about this invoice, simply reply to this email or reach out to our
                      <a href="{% raw %}{{support_url}}{% endraw %}" class="text-blue-postmark">support team</a> for help.
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Cheers,
                      <br>The {{ page.company.product }} Team
                    </p>
                    <table class="body-sub">
                      <tr>
                        <td>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">{% raw %}{{action_url}}{% endraw %}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        {% include "src/partials/footer.njk" %}
      </table>
    </td>
  </tr>
</table>
{% endblock %}

