{% extends "src/layouts/default.njk" %}

{% block template %}
<table class="email-wrapper w-full font-sans">
  <tr>
    <td align="center">
      <table class="email-content w-full">
        {% include "src/partials/header.njk" %}

        <tr>
          <td class="email-body w-full bg-white">
            <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
              <tr>
                <td class="p-45">
                  <div class="text-base">
                    <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">Hi {% raw %}{{name}}{% endraw %},</h1>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Thanks for using  {{ page.company.product }}. This email is the receipt for your purchase. No payment is due.
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      This purchase will appear as "[Credit Card Statement Name]"" on your credit card statement for your {% raw %}{{credit_card_brand}}{% endraw %}
                      ending in {% raw %}{{credit_card_last_four}}{% endraw %}.
                      Need to <a href="{% raw %}{{billing_url}}{% endraw %}" class="text-blue-postmark">update your payment information</a>?
                    </p>
                    <table align="center" class="discount">
                      <tr>
                        <td align="center">
                          <h1 class="mt-0 text-2xl text-center font-bold text-gray-postmark-darker">10% off your next purchase!</h1>
                          <p class="mt-6 mb-20 text-base leading-24 text-center text-gray-postmark-dark">Thanks for your support! Here's a coupon for 10% off your next purchase if used by {% raw %}{{expiration_date}}{% endraw %}.</p>
                          <table class="w-full">
                            <tr>
                              <td align="center" class="text-base">
                                <a href="http://example.com" class="button button--green" target="_blank">Use this discount now...</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table class="w-full py-35">
                      <tr>
                        <td>
                          <h3 align="left" class="mt-0 text-sm text-left font-bold text-gray-postmark-darker">{% raw %}{{receipt_id}}{% endraw %}</h3>
                        </td>
                        <td>
                          <h3 align="right" class="mt-0 text-sm text-right font-bold text-gray-postmark-darker">{% raw %}{{date}}{% endraw %}</h3>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <table class="w-full pt-25">
                            <tr>
                              <th align="left" class="purchase_heading pb-8">
                                <p class="m-0 text-xxs leading-24 text-gray-postmark-meta">Description</p>
                              </th>
                              <th align="right" class="purchase_heading pb-8">
                                <p class="m-0 text-xxs leading-24 text-gray-postmark-meta">Amount</p>
                              </th>
                            </tr>
                            {% raw %}{{#each receipt_details}}{% endraw %}
                            <tr>
                              <td class="w-4/5 text-base leading-18 py-10 text-gray-postmark-dark">{% raw %}{{description}}{% endraw %}</td>
                              <td align="right" class="w-1/5 text-base text-right">{% raw %}{{amount}}{% endraw %}</td>
                            </tr>
                            {% raw %}{{/each}}{% endraw %}
                            <tr>
                              <td class="purchase_footer w-4/5">
                                <p align="right" class="m-0 pr-16 text-base leading-24 text-right text-gray-postmark-darker font-bold">Total</p>
                              </td>
                              <td class="purchase_footer w-1/5">
                                <p align="right" class="m-0 text-base leading-24 text-right text-gray-postmark-darker font-bold">{% raw %}{{total}}{% endraw %}</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                        If you have any questions about this receipt, simply reply to this email or reach out to our
                        <a href="{% raw %}{{support_url}}{% endraw %}" class="text-blue-postmark">support team</a> for help.
                    </p>
                    <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                      Cheers,
                      <br>The {{ page.company.product }} Team
                    </p>
                    <table align="center" class="w-full my-30 mx-auto text-center">
                      <tr>
                        <td align="center">
                          <table class="w-full">
                            <tr>
                              <td align="center">
                                <a href="{% raw %}{{action_url}}{% endraw %}" class="button button--blue" target="_blank">Download as PDF</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table class="body-sub">
                      <tr>
                        <td>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">
                            Need a printable copy for your records? You can <a href="{% raw %}{{action_url}}{% endraw %}" class="text-blue-postmark">download a PDF version</a>.
                          </p>
                          <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">
                            Moved recently? Have a new credit card? You can easily <a href="{% raw %}{{billing_url}}{% endraw %}" class="text-blue-postmark">update your billing information</a>.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        {% include "src/partials/footer.njk" %}
      </table>
    </td>
  </tr>
</table>
{% endblock %}

