---
bodyClass: bg-gray-postmark-lighter
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full bg-gray-postmark-lighter font-sans">
      <tr>
        <td align="center">
          <table class="email-content w-full">
            <component src="src/components/header.html"></component>
            <tr>
              <td class="email-body w-full bg-white">
                <table align="center" class="email-body_inner w-[570px] bg-white mx-auto sm:w-full">
                  <tr>
                    <td class="p-[45px]">
                      <div class="text-base">
                        {{body}}
                        <br>
                        <br> {{#attachment_details}}
                        <table class="w-full mb-[21px]">
                          <tr>
                            <td class="attributes_content p-4 text-base bg-gray-postmark-lightest">
                              <table class="w-full">
                                {{#each . }}
                                <tr>
                                  <td class="text-base"><a href="{{attachment_url}}" class="text-blue-postmark">{{attachment_name}}</a> <span>({{attachment_size}} {{attachment_type}})</span></td>
                                </tr>
                                {{/each}}
                              </table>
                            </td>
                          </tr>
                        </table>
                        {{/attachment_details}}
                        <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">By {{commenter_name}} at {{timestamp}}</p>
                        <p class="mt-1.5 mb-[5px] text-xs leading-6 text-gray-postmark-dark"><a href="{{action_url}}" class="text-blue-postmark">View the comment</a> or <a href="{{notifications_url}}" class="text-blue-postmark">Manage notifications</a></p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <component src="src/components/footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
