---
bodyClass: bg-gray-postmark-lighter
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="email-wrapper w-full bg-gray-postmark-lighter font-sans">
      <tr>
        <td align="center">
          <table class="email-content w-full">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td class="email-body w-full bg-white">
                  <table align="center" class="email-body_inner w-570 bg-white mx-auto sm:w-full">
                    <tr>
                      <td class="p-45">
                        <div class="text-base">
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">We received a request to reset the password to access {{ page.company.product }} with your email address ({{email_address}}) from a {{operating_system}} device using {{browser_name}}, but we were unable to find an account associated with this address.</p>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">If you use {{ page.company.product }} and were expecting this email, consider trying to request a password reset using the email address associated with your account.</p>
                          <table align="center" class="w-full text-center my-30 mx-auto">
                            <tr>
                              <td align="center">
                                <table class="w-full">
                                  <tr>
                                    <td align="center" class="text-base">
                                      <a href="{{action_url}}" class="button button--blue" target="_blank">Try a different email</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            If you do not use {{ page.company.product }} or did not request a password reset, please ignore this email or
                            <a href="{{support_url}}" class="text-blue-postmark">contact support</a> if you have questions.
                          </p>
                          <p class="mt-6 mb-20 text-base leading-24 text-gray-postmark-dark">
                            Thanks,
                            <br>The {{ page.company.product }} Team
                          </p>
                          <table class="body-sub">
                            <tr>
                              <td>
                                <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
                                <p class="mt-6 mb-20 text-xs leading-24 text-gray-postmark-dark">{{action_url}}</p>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </raw>
            <component src="src/components/footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
