<tr>
  <td>
    <table align="center" class="email-footer w-570 mx-auto text-center sm:w-full">
      <tr>
        <td align="center" class="content-cell p-45 text-base">
          <p class="mt-6 mb-20 text-xs leading-24 text-center text-gray-postmark-light">&copy; {{ page.year }} {{ page.company.product }}. All rights reserved.</p>
          <p class="mt-6 mb-20 text-xs leading-24 text-center text-gray-postmark-light">
            {{ page.company.name }}
            {{ page.company.address }}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
